   @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap');

   * {
       margin: 0;
       padding: 0;
       box-sizing: border-box;
       font-family: 'Josefin Sans', sans-serif;
   }

body{
    background-color: #e9ecef;
}

   nav {
       background-color: #10266b !important;
       height: 80px;
       padding-left: 40px;
       width: 100%;
       display: flex;
       align-items: center;
       justify-content: space-between;
       padding-right: 20px;
   }

   nav h2 {
       color: #fff;
       font-size: 16px;
       font-weight: 400;
       cursor: pointer;
   }

   .main {
       background-color: #e9ecef;
       width: 100%;
       height: 76vh;
       display: flex;
       align-items: center;
       justify-content: center;
       padding: 30px 0 50px 0;
       flex-direction: column;
   }

   .main .color-blue {
       font-size: 80px;
       font-weight: 300;
       color: #10266b;
       margin: 0px 0px 8px;
   }

   .main .blue {
       color: #000;
       font-size: 56px;
       font-weight: 300;
       margin: 0px 0px 16px;
   }

   .main p {
       font-weight: 200;
       font-size: 20px;
       margin: 0px 0px 16px;
   }

   .main .bold {
       font-weight: 400;
       font-family: 'Josefin Sans', sans-serif;
   }

   .login {
       display: flex;
       align-items: center;
       justify-content: space-between;
       padding: 15px;
       text-decoration: none;
       background-color: #fff;
       border: 0;
       outline: none;
       border-radius: 5px;
       cursor: pointer;
       color: #10266b;
       box-shadow: 0 0 10px rgba(0, 0, 0, 0.10);
   }


   .main-text {
       display: flex;
       align-items: center;
       justify-content: center;
       flex-direction: column;
       padding: 0px 15px;
   }
   
   .btn{

    height: 40px;
    width: 100px;
    color: white;
    padding: 5px;
    background-color: blue;
    margin-left: 10px;

    
   }



   /* login form and signup */


   .container {
    position: relative;
    max-width: 430px;
    width: 100%;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 0 20px;
  }
  
  .container .forms {
    display: flex;
    align-items: center;
    height: 440px;
    width: 200%;
    transition: height 0.2s ease;
  }
  
  .container .form {
    width: 50%;
    padding: 30px;
    background-color: #fff;
    transition: margin-left 0.18s ease;
  }
  
  .container.active .login {
    margin-left: -50%;
    opacity: 0;
    transition: margin-left 0.18s ease, opacity 0.15s ease;
  }
  
  .container .signup {
    opacity: 0;
    transition: opacity 0.09s ease;
  }
  
  .container.active .signup {
    opacity: 1;
    transition: opacity 0.2s ease;
  }
  
  .container.active .forms {
    height: 600px;
  }
  
  .container .form .title {
    position: relative;
    font-size: 27px;
    font-weight: 600;
  }
  
  .form .title::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background-color: #4070f4;
    border-radius: 25px;
  }
  
  .form .input-field {
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 30px;
  }
  
  .input-field input {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0 35px;
    border: none;
    outline: none;
    font-size: 16px;
    border-bottom: 2px solid #ccc;
    border-top: 2px solid transparent;
    transition: all 0.2s ease;
  }
  
  .input-field input:is(:focus, :valid) {
    border-bottom-color: #4070f4;
  }
  
  .input-field i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 23px;
    transition: all 0.2s ease;
  }
  
  .input-field input:is(:focus, :valid)~i {
    color: #4070f4;
  }
  
  .input-field i.icon {
    left: 0;
  }
  
  .input-field i.showHidePw {
    right: 0;
    cursor: pointer;
    padding: 10px;
  }
  
  .form .checkbox-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .checkbox-text .checkbox-content {
    display: flex;
    align-items: center;
  }
  
  .checkbox-content input {
    margin-right: 10px;
    accent-color: #4070f4;
  }
  
  .form .text {
    color: #333;
    font-size: 14px;
  }
  
  .form a.text {
    color: #4070f4;
    text-decoration: none;
  }
  
  .form a:hover {
    text-decoration: underline;
  }
  
  .form .button {
    margin-top: 35px;
  }
  
  .form .button input {
    border: none;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 6px;
    background-color: #4070f4;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .button input:hover {
    background-color: #265df2;
  }
  
  .form .login-signup {
    margin-top: 30px;
    text-align: center;
  }  

  .login_form{
    border: 2px solid grey;
    width: 400px;
    height: 400px;
    padding: 10px;
    margin: 10px;
    /* text-align: ce; */
  }

  .center{
    text-align: center;
  }

  .signup_form{
    border: 2px solid grey;
    width: 400px;
    height: 450px;
    padding: 10px;
    margin: 10px;
  }

  .subj{
    height: 140px;
    width: 280px;
    padding: 5px;
    margin: 5px;
    color: #10266b;
    border: 3px solid darkgray;
    margin-left: 80px;

  }
  .join-btn{
    width: 240px;
    height: 35px;
    text-align: center;
    margin-bottom: 2px;
    border: 2px solid blue;
    margin-left: 10px;
    
  }

  /* li{
    width: 400px;
    height: 50px;
    
  } */

  .next-btn{
    height: 40px;
    width: 100px;
    background-color: blue;
    padding: 5px;
    color: white;
    
  }
  .hidden{
    display: none;
}
header {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* -webkit-box-shadow: -1px 5px 20px 0px rgba(0,0,0,0.6);  */
  box-shadow: -17px -6px 20px 0px rgba(0, 0, 0, 0.6);
}

#submit {
  float: right;
}
#result-container {
  width: 400px;
}
#score {
  color: #198754;
}
  

.options {
  border: 1px solid gray;
  border-radius: 5px;
  margin: 10px;
  padding: 8px;
}

.btn:hover {
  cursor: pointer;
  transition: 1s;
  transform: scale(1.1);
}

